* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Vampiro+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,500;0,900;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

html, body {
  background-color: lightcoral;
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-family: 'Vampiro One', cursive;
}

.header, .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px;
  background-color: lightgrey;
  background-image: url('colorless-energy.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10%;
}

.header {
  background-position-x: 5%;
  letter-spacing: 2px;
  font-size: 2em;
}

.navbar {
  background-position-x: 95%;
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

main {
  display: grid;
  grid-template-rows: 140px 1fr;
  height: 100%;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.det-loading {
  margin-top: 300px;
}

.loading-gif {
  max-width: 10%;
}

.poke-list, .searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: lightcoral;
}

.searchbar {
  display: flex;
  flex-direction: column;
}

.searchbar-input {
  width: 225px;
  height: 30px;
  text-align: center;
  letter-spacing: 3px;
  font-family: 'Roboto Condensed', sans-serif;
}

.submit-button {
  height: 30px;
  width: 30px;
  margin: 5px;
  font-family: 'Roboto Condensed', sans-serif;
  cursor: pointer;
}

.updown-dropdown, .category-dropdown {
  margin: 5px; 
  height: 25px;
  width: 225px;
  color:  rgba(28, 22, 22, .9);
  display: flex;
  font-family: 'Roboto Condensed', sans-serif;
}

.content:nth-child(even) {
  background-color: rgba(28, 22, 22, 0.15);
  padding: 12px 16px;
  z-index: 1;
}

.poke-list {
  position: ;
  padding: 20px;
  flex-wrap: wrap;
  flex-direction: row;
}

.poke-item {
  position: relative;
  background-image: url('./blank-card.png');
  width: 360px;
  height: 500px;
  background-color: rgba(38, 119, 201, 0.75);
  color: black;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 1px 1px 2px 2px rgba(28, 22, 22, 0.757);
  font-family: 'Bitter', serif;
}

.poke-name, .poke-typeone, .poke-typetwo, .pokedex-entry, .pokemon-shape, .typeone-label, .typetwo-label, .abilityone, .abilitytwo, .ability-label {
  position: absolute;
}

.poke-name {
  top: 6%;
  left: 11%;
  z-index: 2;
  letter-spacing: 3px;
  font-size: 1.1em;
  font-weight: 900;
}

.poke-img {
  position: absolute;
  left: 15%;
  top: 5%;
  width: 70%;
}

.typeone-label, .typetwo-label, .poke-typeone, .poke-typetwo {
  font-weight: 500;
}

.typeone-label {
  bottom: 34%;
  left: 11%;
}

.poke-typeone {
  bottom: 34%;
  right: 11%;
  font-style: italic;
  text-align: right;
}

.typetwo-label {
  bottom: 30%;
  left: 11%;
}

.poke-typetwo {
  bottom: 30%;
  right: 11%;
  font-style: italic;
  text-align: right;
}

.abilityone {
  bottom: 24%;
  right: 11%;
  font-style: italic;
  text-align: right;
}

.abilitytwo {
  bottom: 20%;
  right: 11%;
  font-style: italic;
  text-align: right;
}

.ability-label {
  bottom: 24%;
  left: 11%;
}

.pokedex-entry {
  bottom: 20%;
  left: 10%;
  width: 300px;
  font-size: 0.7em;
  font-style: italic;
}

.pokemon-shape {
  bottom: 7%;
  right: 11%;
  font-style: italic;
  font-size: 0.8em;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Roboto Condensed', sans-serif;
}

ul.pagination li {
  width: 50px;
  border: 1px solid #b9b0b0;
  display: flex;
  justify-content: center;
  font-size: 25px;
  background-color: #e2e2e2;
}

ul.pagination li a {
  text-decoration: none;
  color: #337ab7;
  font-size: 20px;
}

ul.pagination li.active a {
  color: white;
}
ul.pagination li.active {
  background-color: #337ab7;
}

ul.pagination li a:hover,
ul.pagination li a.active {
  color: blue;
}

.page-selection {
  width: 48px;
  height: 30px;
  color: #337ab7;
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.details-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.poke-details {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-family: 'Roboto', sans-serif;
}

.pokedex-img {
  position: relative;
  background-image: url("https://i.pinimg.com/originals/4e/e5/07/4ee507952983bcc4e807feed82fbcdd2.jpg");
  border: 10px solid #d02013;
  border-radius: 10px;
  margin: 40px;
  min-height: 650px;
  min-width: 910px;
  font-size: 2em;
  color: rgba(143, 142, 142, 0.75);
}

.det-img {
  position: absolute;
  top: 10%;
  left: -10px;
  width: 45%;
}

.det-name {
  position: absolute;
  top: 13%;
  left: 52%;
  color: white;
  text-shadow: 1px 1px 1px grey;
  font-family: 'Bitter', serif;
}

.det-typeone {
  position: absolute;
  text-align: center;
  right: 23.7%;
  top: 35.6%;
  height: 46.2px;
  width: 147px;
  border: 2px solid #676767;
  background-color: #f08080;
  color: white;
}

.det-typetwo {
  position: absolute;
  text-align: center;
  right: 2.1%;
  top: 35.6%;
  height: 46.2px;
  width: 171px;
  border: 2px solid #676767;
  background-color: #f08080;
  color: white;

}

.det-abilities {
  position: absolute;
  left: 11%;
  bottom: 20%;
  font-style: italic;
}

.det-abilityone {
  position: absolute;
  left: 11%;
  bottom: 15%;
}

.det-abilitytwo {
  position: absolute;
  left: 11%;
  bottom: 10%;
}

.det-abilityhidden {
  position: absolute;
  left: 11%;
  bottom: 5%;
}

.det-height {
  position: absolute;
  bottom: 41.6%;
  right: 5%;
}

.det-weight {
  position: absolute;
  bottom: 33%;
  right: 5%;
  background-color: white;

}

.det-hp {
  position: absolute;
  right: 42%;
  top: 21%;
}

.det-attack {
  position: absolute;
  top: 21%;
  right: 22%;
}

.det-defense {
  position: absolute;
  top: 21%;
  right: 3%;
}

.det-specattack {
  position: absolute;
  top: 25.5%;
  right: 22%;
}

.det-specdefense {
  position: absolute;
  top: 25.5%;
  right: 3%;
}

.det-speed {
  position: absolute;
  top: 25.5%;
  right: 42%;
}

.det-generation {
  position: absolute;
  right: 48.8%;
  bottom: 50.5%;
}

.genopacity {
  opacity: 0.3;
}

.det-pokebasetxt {
  position: absolute;
  right: 11%;
  bottom: 20%;
  font-style: italic;
}

.det-pokebase {
  position: absolute;
  right: 11%;
  bottom: 15%;
}

.det-egggroups {
  position: absolute;
  right: 38%;
  bottom: 20%;
  font-style: italic;
}

.det-eggone {
  position: absolute;
  right: 38%;
  bottom: 15%;
}

.det-eggtwo {
  position: absolute;
  right: 38%;
  bottom: 10%;
}

.det-pokedexlogo {
  position: absolute;
  width: 9.2%;
  top: 9.5%;
  right: 48.2%;
}

.det-pokedexlogo:hover {
  border-radius: 50%;
  transform: scale(.9);
}